/* #videobg {
    background: url(video.jpg) no-repeat;
    background-size: cover;
  } */

  /* *{
    margin: 0;
    padding: 0;
  } */
  body { 
    animation: fadeInAnimation ease 3s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
html {
  scroll-behavior: smooth;
  direction:rtl;
  float: right;
}
.timetable aside,
.timetable section 
{
    float: right;
}
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 
  .html{
    background-size: cover;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  }
  .wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .wrapper .wrapper__video{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .video{
      width: 100% ! important;
      height: 100%   !important;
      object-fit: fill;
  /* position: absolute; */

  }
  /* .header{
      height: 10%;
  } */
  * {
    box-sizing: border-box;
}
  #myVideo {
    width: 100% ! important;
      height: 100%   !important;
      object-fit: fill;
  position: absolute;
  }
  /* .content {
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    /* background: rgba(0, 0, 0, 0.5); */
    /* color: #f1f1f1; */
    /* width: 100%;
    padding: 50px; */
  /* } */ 
  
  /* Style the button used to pause/play the video */
  
  .navbar{
    display: flex;
    /* align-items: flex-end; */
    /* justify-content: right; */
    /* align-items: flex-end; */
    pointer-events: all;
    content: "";
    position: absolute;
    top: 3rem;
    left: 35rem;
    right: -1.5rem;
    bottom: -1.5rem;
    position: relative; 
    z-index: 2;
    font-family: "Lucida Console", "Courier New", monospace;
    font: 14.5549px ;
  }
  .On-video{
    transform: matrix(1, 0, 0, 1, 0, 0);
    z-index: 2;
    position: absolute;
    cursor: pointer;
    margin-top: 20%;
    color: white;
    margin-left: 20%;
    display: inline-block;
    text-align: start;
    line-height: 1.3;
    font-weight: 200;
    font-size: 5rem;
    /* position: relative; */
  }
  .start-content{
    display: flex;
    /* font-family: "Lucida Console", "Courier New", monospace; */
    font-family:Optima, sans-serif;
  }
  .start-content2{
    font-family:FreeMono, monospace;
  }

  .menu{
    position: relative;
    display: flex;
    /* justify-content: flex-end;
    align-items: flex-end; */
    left: -1.5rem;
  }

  .About{
    position: relative;
    display: block;
    margin-right: 3rem;
    font-family: messina-sans;
    /* justify-content: flex-end;
    align-items: flex-end; */
    overflow: hidden;
    z-index: 2;
    color: #fff;
    
  }

  .header{
    transform: translate3d(0px, 0px, 0px);
    height: var(--header-normal);
    z-index: 1;
    content: "";
    position: absolute;
    /* top: -1.5rem;
    left: -1.5rem;
    right: -1.5rem;
    bottom: -1.5rem; */
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
  }

  .row{
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .image{
    /* transform: translate(90px, 50% ); */
    /* transform: translate3d(5px, 723px, 0px); */
    /* margin-top: 10%;
    background-image: url(../Assets/images/mountainWhite.jpg) */
    background-image: url(../Assets/images/mountainWhite.jpg) ;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
     min-height: 100%;
     /* max-height: 100%; */
     /* margin-right: 30%; */
     /* background-size: 100% cover!important; */
     background-size: 100% 120% ;
    background-position: 40%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    object-fit: contain;
    margin: auto;
    /* z-index: 1 */
  }

  .image-text{
    position: relative;
  }
  .main{
    display: block;
  }

  .image-text2{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "content"
        "img1"
        "img2";
    z-index: 2;


  }
  .image2{
    width: 50%;
    min-height: 30%;
    margin-top: -15em;
    margin-left: 5%;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
  }
  .image1{
    width: 50%;
    height: 50%;
    margin-left: 75%;
    margin-top: 78%;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
  }

  .image-text3{
    position: relative;
    grid-area: content;
    padding-bottom: 4.5rem;
    padding-bottom: var(--spacing-s);

  }
  /* .image2{
    width: 50%;
    height: 70%;
  } */
  .content-title{
    margin-top: 9%;
    position: relative;
  }
  .c-line{
    margin-top: -17.6em;
    /* margin-bottom: 2rem; */
    margin-left: 2em;
    line-height: 1;
    -webkit-transform-origin: left;
    transform-origin: left;
    font-family:Optima, sans-serif;
    font-style: italic;
    font-size: 1.5em;
    color: #000000;
  }
  .c-line2{
    margin-left: 2em;
    font-family:FreeMono, monospace;
    font-style: oblique;
    font-size: 1.5em;
    color: #696969;
  }
  .style{
    display: block;
    text-align: start;
    position: relative;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin-left: 4.9em;
    margin-top: 1%;
  }
  /* .content-title{
    margin-left: 30%;
  } */

  /* @media screen and (min-width: 500px)
   {
    font-size: calc(36px + 16*(100vw - 500px)/1500);
} */

.headline1{
  /* --value-small-1: 5%;
    --value-small-2: calc(var(--value-small-1)*-1);
    --value-medium-1: 10%;
    --value-medium-2: calc(var(--value-medium-1)*-1);
    --value-big-1: 17%;
    --value-big-2: calc(var(--value-big-1)*-1); */
    font-family:Optima, sans-serif;
    white-space: nowrap;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 2.9);
    font-style: italic;
    font-size: 1.1em;
  
    /* font-family: gt-sectra; */
    margin-top: 15%;
    margin-left: 10%;
}

.headline2{
  /* --value-small-1: 5%;
  --value-small-2: calc(var(--value-small-1)*-1);
  --value-medium-1: 10%;
  --value-medium-2: calc(var(--value-medium-1)*-1);
  --value-big-1: 17%;
  --value-big-2: calc(var(--value-big-1)*-1); */
  font-family:FreeMono, monospace;
  font-style: oblique;
    font-size: 1.1em;
    color: #696969;
  white-space: nowrap;
  opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, -2.6);
    font-family: gotham;
    margin-left: 10%;
  
}

.para{
  display: block;
  text-align: start;
  position: relative;
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  margin-left: 10%;
  font-family: messina-sans;
  line-height: 1.6;
    font-size: 1rem;
}

.location{
  content: "";
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400%;
    margin-top: 120%;
    background-color:#F5F5F5;
}
.figure{
  position: relative;
    padding-top:5%;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
    /* padding-left: 1%; */
}

.logo{
  width: 7%;
  margin-top: 10%;
  margin-left: 2%;
  animation: rotation 8s infinite linear;
   
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;   
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;    
    overflow:hidden;
}
.cards{
  width: 30%;
  height: 50%;
  margin-left: 8%;
  margin-bottom: 40%;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
}

.card2{
  width: 30%;
  height: 50%;
  margin-left: 0.8%;
  margin-bottom: 40%;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
}
.card3{
  width: 30%;
  height: 40%;
  margin-left: 70%;
  margin-top: -107em;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
  /* margin-bottom: 40%; */
}
.logo:hover  {
  -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);  

}
.button{
  opacity: .25;
    pointer-events: none;
    /* padding-left: 3%; */
    padding-right: 2rem;
    margin-left: 2%;
    /* padding-top: 50%; */
    margin-top: 35%;
    /* display: inline-flex; */
    padding: 5px;
    background-color: transparent; 
    /* color: #000000; */
    z-index: 2;

}
.button:hover ,button:focus {
  background: red;
}
.button1{
  transform: translateY(50%);
    padding-right: 1rem;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 5%;
    margin-top: 5%;
    color: #000000;
    transition: opacity .5s ease;
    z-index: 2;
    /* background-color: black; */
}
.svg{
 /* color: #000000; */
 background-color: transparent; 
}
.arrow1{
  color: #000000;
}
.line{
  z-index: 2; 
  margin-top: 36%;
  margin-left: 1%;
}
.lands{
  opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 2.9);
    white-space: nowrap;
    display: block;
  /* z-index: 2;  */
  margin-top: 25%;
  margin-left: 6%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 90%;
  
}
.discovery{
  transform: matrix(1, 0, 0, 1, 0, 2.9);
  font-size: 100%;
  white-space: nowrap;
  display: block;
  font-family: sans-serif;
  font-weight: -50%;
    font-display: initial;
    z-index: 2;
    color: #696969;
    /* margin-top: 10%; */
    margin-left: 6%;
}
.para2{
  display: block;
  text-align: start;
  position: relative;
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  font-family: messina-sans;
  line-height: 1.6;
    font-size: 1rem;
    margin-left: 6%;
    color: #696969;
}
.sentence{
  margin-top: 2%;
}
.navbar2{
  /* display: none; */
  margin-top: 2%;
  /* margin-top: 120%; */
  z-index: 2;
  transform: matrix(1, 0, 0, 1, 0, 0);
  display: flex;
  justify-content: space-between;
  left: 35rem;
  right: -1.5rem;
  bottom: -1.5rem;
}
.nav-dropdown{
  /* margin-top: 120%; */
  z-index: 2;
  left: 30rem;
  right: -1.5rem;
  bottom: -1.5rem;
}
.next{
  margin-left: 10%;
  position: relative;
}
.next2{
  margin-left: 10%;
  position: relative;
}
.select{
  position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    opacity: 0;
    font-family: messina-sans;
    appearance: none;
    border-radius: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    margin-top: 10%;
    z-index: 2;
    color: #000000;
}
.division-nav2{
  margin-top: 5%;
  margin-left: 6%;
  z-index: 2;
  display: flex;
  left: 35rem;
  right: -1.5rem;
  bottom: -1.5rem;
}
    
.button ,select{
  text-transform: none;
}
#option{
  font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.open{
  margin-top: 2000;
    z-index: 2;
}
.clouds{
  /* background-image: url(../Assets/images/earth-clouds.png); */
  position: absolute;
  z-index: 2;
  transform: matrix(1, 0, 0, 1, 0, 0);
  margin-top: 10%;
  margin-left: -10%;
}
.earth{
  width: 70%;
}
.map-box{
  /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* position: relative; */
    /* padding: 20vw; */
    /* padding: var(--gutter); */
    /* background-color: #161f1e;
    transform: matrix(1, 0, 0, 1, 0, 0); 
    /* margin-left: 50%;
    margin-top: -50%; */
    /* width: 50%;
    max-height: 200%;*/
    /* bottom: 40px;
  right: 80px; */
    /* padding-left: 20px;
  padding-right: 20px; */
  /* padding: 30%;  */
  /* width: 50%;
  height: 100%; */
  /* flex-wrap: wrap; */
  position: relative;
  /* padding: 30%; */
  margin-left: 60%;
  bottom: 60px;
  right: 70px;
  background-color: black;
  color: white;
  width: 20%;
  transform: matrix(1, 0, 0, 1, 0, 0); 
  z-index: 2;
  height: 30%;
}
.text-block {
  position: absolute;
  bottom: 1160px;
  right: 70px;
  background-color: black;
  color: white;
  padding: 15%;
  width: 50%;
  height: 20%;
  padding-left: 4%;
  padding-right: 2%;
  margin-left: -80%;
  padding-bottom: -70%;
  left: 130%;
}
.box{
  margin-left: 75%;
}
.map-box-inner{
  /* position: relative; */
    width: -700%;
    height: 150%;
    z-index: 2;
}
.map-box-inner-content{
  margin-top: -230%;
 justify-content: flex-start;
}
.map-box-inner-content-img{
  /* --offset: calc(var(--spacing)*-0.75); */
    /* width: 40%; */
    margin-left: 70%;
    height: 70%;
    margin-top: -50%;
    
}
 /* .figure1{
  height: 80%;
  margin-top: 20%;
  width: 10%;
}  */
.deck{
height: 100%;
}
.swimming-deck{
  /* width: 150%; */
  /* height: 850%; */
  max-width: 40%;
  max-height: 150%;
  margin-left: 50%;
  /* height: 1000%; */
  /* padding: 10%; */
  /* padding-top: -700%; */
  margin-top: -70%;
  /* margin-right: 40%; */
  position: absolute;
}
/* .flex-image-2{
  display: flex;
} */
.end-image{
  -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
  width: 33%;
  height: 20%;
  /* margin-left: 6%; */
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.map-box-arrow{
  margin-top: -40%;
  margin-left: -200%;
  background-color: transparent;
 
}
.right{
  color: white;
}
a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}
a:visited  {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
.footer{
  -webkit-animation: hang 2s infinite  alternate;
  animation: hang 3s infinite  alternate;
  position: absolute;
    background-color: #161f1e;
    /* transform: translateY(-0.167411px) translate3d(0px, 0px, 0px); */
    z-index: 2;
    content: "";
    /* position: relative; */
    transform: matrix(1, 0, 0, 1, 0, 0); 
    padding: 5%;
    width: 100%;
    height: 20%;
}
@-webkit-keyframes hang {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes hang {
  0% { transform: translateY(0); }
  100% { transform: translateY(-40px); }
}
.menubar {
  display: inline-block;
  cursor: pointer;
}

.bar1 {
  width: 30px;
  height: 3px;
  background-color: #F5F5F5;
  margin: 0px 6px;
  transition: 0.5s;
}
.bar2{
  width: 20px;
  height: 3px;
  background-color:#F5F5F5;
  margin: 0 6px;
  transition: 0.8s;
  margin-top: 2px;
}
.bar3{
  width: 10px;
  height: 3px;
  background-color:#F5F5F5;
  margin: 0 6px;
  transition: 0.4s;
  margin-top: 2px;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
.last-content{
  color: #F5F5F5;
  margin-left: 60%;
  margin-top: -10%;
}
.last-content2{
  color: #F5F5F5;
  margin-left: 80%;
  margin-top: -10%;
}
.last-left-content{
  margin-left: 5%;
  margin-top: -5%;
  color: #fff;
}
@media only screen and (max-width: 480px) {
  img {
    width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
  }
}